[submodule "raspberrypi/pico-sdk"]
	path = raspberrypi/SDK/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "microchip/pic/cmake-microchip"]
	path = microchip/pic/cmake-microchip
	url = https://github.com/Elemecca/cmake-microchip.git
[submodule "wch/SDK/ch32v003/ch32v003"]
	path = wch/SDK/ch32v003/ch32v003
	url = https://github.com/openwch/ch32v003.git
[submodule "wch/SDK/ch32v20x/ch32v20x"]
	path = wch/SDK/ch32v20x/ch32v20x
	url = https://github.com/openwch/ch32v20x.git
[submodule "wch/SDK/ch32x035/ch32x035"]
	path = wch/SDK/ch32x035/ch32x035
	url = https://github.com/openwch/ch32x035.git
[submodule "shared/FreeRTOS-Kernel"]
	path = shared/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "shared/tinyusb"]
	path = shared/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "shared/FreeRTOS-Plus-TCP"]
	path = shared/FreeRTOS-Plus-TCP
	url = https://github.com/FreeRTOS/FreeRTOS-Plus-TCP.git
[submodule "shared/mongoose"]
	path = shared/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "shared/FreeRTOS-Kernel-Community-Supported-Ports"]
	path = shared/FreeRTOS-Kernel-Community-Supported-Ports
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel-Community-Supported-Ports.git
