[submodule "pico/pico-sdk"]
	path = raspberrypi/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pic/cmake-microchip"]
	path = microchip/pic/cmake-microchip
	url = https://github.com/Elemecca/cmake-microchip.git
[submodule "wch/SDK/ch32v003"]
	path = wch/SDK/ch32v003/ch32v003
	url = https://github.com/openwch/ch32v003.git
[submodule "wch/SDK/ch32v20x/ch32v20x"]
	path = wch/SDK/ch32v20x/ch32v20x
	url = https://github.com/openwch/ch32v20x.git
[submodule "wch/rvice_adc/FreeRTOS-Kernel"]
	path = wch/SDK/freertos/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "wch/SDK/tinyusb"]
	path = wch/SDK/tinyusb/tinyusb
	url = git@github.com:dragonlock2/tinyusb.git
